<%- include('includes/head'); %>

<main class="main auto-padding">
  <%- include('includes/hero') %>
  <section class="technologies">
    <h2>Tecnologias utilizadas no projeto</h2>
    <ul class="list-technologies">
      <li>
        <img src="/assets/icons/nodejs.svg" alt="ejs-icon" />
        <span>NodeJs</span>
      </li>
      <li>
        <img src="/assets/icons/typescript.svg" alt="ejs-icon" />
        <span>TypeScript</span>
      </li>
      <li>
        <img src="/assets/icons/express.svg" alt="ejs-icon" />
        <span>Express</span>
      </li>
      <li>
        <img src="/assets/icons/mongodb.svg" alt="ejs-icon" />
        <span>MongoDB</span>
      </li>
      <li>
        <img src="/assets/icons/mongoose.svg" alt="ejs-icon" />
        <span>Mongoose</span>
      </li>
      <li>
        <img src="/assets/icons/swagger.svg" alt="ejs-icon" />
        <span>Swagger</span>
      </li>
      <li>
        <img src="/assets/icons/prettier.svg" alt="ejs-icon" />
        <span>Prettier</span>
      </li>
      <li>
        <img src="/assets/icons/eslint.svg" alt="ejs-icon" />
        <span>Eslint</span>
      </li>
      <li>
        <img src="/assets/icons/ejs.svg" alt="ejs-icon" />
        <span>EJS</span>
      </li>
    </ul>
  </section>
</main>

<%- include('includes/footer'); %>
